# ===== Python 编译缓存 =====
__pycache__/
*.py[cod]
*$py.class

# ===== 虚拟环境 =====
.env
.venv
env/
venv/

# ===== Conda / Anaconda =====
conda-meta/
*.conda

# ===== PyCharm / IDE =====
.idea/
*.iml

# ===== macOS 系统文件 =====
.DS_Store
.AppleDouble
.LSOverride

# ===== 日志 / 临时文件 =====
*.log
*.tmp

# ===== Excel 临时锁文件 =====
~$*.xlsx
~$*.xls

